{% extends 'usercenter-base.html' %}
{% block title %}我的收藏- 慕学在线网{% endblock %}
{% load staticfiles %}

{% block custom_bread %}
    <section>
        <div class="wp">
            <ul  class="crumbs">
                <li><a href="{% url 'index' %}">首页</a>></li>
                <li><a href="{% url 'user_info' %}">个人中心</a>></li>
                <li>我的订单</li>
            </ul>
        </div>
    </section>
{% endblock %}

{% block right_content %}
    <div class="right" >
            <div class="personal_des Releasecont">
                <div class="head">
                    <h1>我的订单</h1>
                </div>

            </div>
            <div class="personal_des permessage">
                
                <div class="messagelist">
                   <table>
                        <tr>
                            <td>订单号</td>
                            <td>下单时间</td>
                            <td>订单总金额</td>
                            <td>订单状态</td>
                            <td>操作</td>
                        </tr>
                        {% for order in my_orders.object_list %}
                        <tr>
                            <td>{{ order.order_code }}</td>
                            <td>{{ order.created_time }}</td>
                            <td>{{ order.order_amount }}</td>
                            <td>{% if order.pay_status == 'TRADE_SUCCESS' %}已支付{% elif order.pay_status == 'unpaid' %}未支付{% endif %}</td>
                            <td>{% if order.pay_status == 'unpaid' %}<a href="{% url 'order_info' request.user.id %}" style="color: #9f9f9f">去支付</a>{% elif order.pay_status == 'TRADE_SUCCESS' %}<a href="{% url 'order_detail' order.order_code %}" style="color: #9f9f9f">查看订单<a>{% endif %}</td>
                        </tr>
                        {% empty %}
                        {% endfor %}
                    </table>
                </div>
            </div>
        </div>
{% endblock %}



